*{margin: 0;
    padding: 0;
    box-sizing: border-box;
     outline: none;
            font-family: "Roboto", sans-serif;}
    
    body{background-color: #3dbde4;}

.logo{width: 200px ;
  right: 200px;
  display: block;
  margin: 20px auto;
  }



   main
   {width: 275px;
          border-radius: 20px ;
        background:  #F4F4F4;
        margin: 0 auto;
        padding: 44px ,24px,23px;
} 
    
  label{font-size: 14px;
    font-weight: 400;
    color: #777777;}
   

  

      button
      {width: 100%;right: 48px;
        background: #772FD3;
        border-radius: 5px;
        border: none;
        color :#ffffff}
 button:hover { opacity: 0,8;}

 button:active{opacity: 0,6;}


select,input{
  background: #ffffff;
  border-radius: 4px;
  border: solid 1px#bbbbbb;
  width: 100%;
  right: 48px;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #555555}




section{width: 327px;
  height: 276px;
  top: 413px;
  left: 24px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #772FD3}